In [ ]:
# HTML table:

In [ ]:
'''
<table> </table> : begin and end of table 
<tr> </tr>  : creates table row
<td> </td>   : creates table data / columns
<th> </th>   : create table headings

#attributes:
<table attributes>

'''

In [ ]:
<!DOCTYPE html>
<html>
    <head>
        <title> Table Demo </title>
    </head>

    <body>
        <h2> student deatils</h2>
        <table >

            <tr>
                <th> Rool NO</th>
                <th> Name</th>
                <th> place</th>
            </tr>

            <tr>
                <td>1</td>
                <td>xyz</td>
                <td>hyderabad</td>
            </tr>

            <tr>
                <td>2</td>
                <td>abc</td>
                <td>bangalore</td>
            </tr>

        </table>

        <table >

            <tr>
                <th> Rool NO</th>
                <th> Name</th>
                <th> place</th>
            </tr>

            <tr>
                <td>1</td>
                <td>xyz</td>
                <td>hyderabad</td>
            </tr>

            <tr>
                <td>2</td>
                <td>abc</td>
                <td>bangalore</td>
            </tr>

        </table>
    </body>
</html>

![pic](images\img2.png)

![p](images\img3.png)

In [ ]:
# 1px = 0.2cm